* {
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow: hidden;
    padding: 1rem;
    background: var(--el-alert-bg-color);
}
